.video {
    margin: 60px 0 0 80px;
    padding: 20px 20px 50px 20px;
    grid-template-columns: 1fr;
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    background-color: #f7f7f7;

     
}

.video-pad {
    /* border: 1px solid sandybrown; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
    /* height: 360px; */
}

@media (width>650px) {
    .video {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width>1000px) {
    .video {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (width>1200px) {
    .video {
        margin-left: 200px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* .video-pad{
        height: 380px;
    } */
}
@media (width>=1700px) {
    .video {
        margin-left: 200px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.image-area {
    position: relative;
}
.image-area .time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(0, 0, 0);
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.description-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0 0px 0;
}

.avatar-area {
    flex-shrink: 0;
    margin: 5px 20px 10px 10px;
    border-radius: 100px;
    /* overflow: hidden; */
    /* position: relative; */
}
.description-area .avatar-a{
    /* background-color: #ff0000; */
    display: block;
    /* border: 1px solid blue; */
    
    border-radius: 100px;
}
.avatar-area .avatar {
    border-radius: 100px;
    height: 50px;
    width: 50px;

    flex-shrink: 0;
    /* vertical-align: bottom; */
}

.description-area .text-area {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description-area .title {
    font-weight: bold;
    margin: 0 0 3px 0;
}

.description-area .upName,
.description-area .infor {
    color: gray;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 动态部分 */
/* .avatar-area .avatar:hover, */
/* .text-area .title:hover, */
/* .image-area .image:hover {
    cursor: pointer;
} */

.avatar-area {
    /* border: 1px solid #ff0000; */
    position: relative;
    /* background-color: blue; */
}
.card-area {
    padding: 15px 25px 15px 20px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    bottom: -118px;
    left: 15px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.177);

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    flex: none;
    width: max-content;
}

.card-area .avatar {
    margin: 0 20px 0 0;
    width: 65px;
    height: 65px;
}

.card-area .upName-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.upName-area .upName {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.upName-area .fans {
    color: gray;
}

/* avatar card 悬停动态 */
.card-area {
    opacity: 0;
    z-index: 200;
    transition: opacity 0.3s ease;
}
.avatar-area:hover {
    .card-area {
        opacity: 1;
    }
}
